<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Aguardando Aprovação</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container" style="text-align: center;">
    <h1>Seu cadastro está em análise</h1>
    <p>Por favor, aguarde até que seus documentos sejam verificados.</p>
    <!--<img src="{{ url_for('static', filename='loading.gif') }}" alt="Aguardando" style="width: 200px;">-->
  </div>
</body>
</html>
