<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    .container {
  margin: 20px;
}
.notification {
  background: #fff8dc;
  border-left: 6px solid #ffa500;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}
</style>
    <div class="container">
  <div class="notification">
    Você recebeu uma nova mensagem.
  </div>
</div>

</body>
</html>